
.container
{
    width: 100%;
    margin-top: 1rem;
}

.btn{
    background-color: rgb(26, 141, 223);
    color: black;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 1rem;
}

.map {
    position: relative;
    width: 100%;
    height: 29.5rem;
    overflow: hidden;
    margin-top: 0px;
    display: block;
}